body {
  background: #FFFFFF;
}

h1, p {
  color: #1D1F22;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.header {
  position: absolute;
    width: 80%;
    height: 80px;
    margin: 0 10%;
    justify-content: space-between;
    display: flex;
}

.category {
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  flex-direction: row;
  padding: 0px;
  height: 100%;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;

}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.action-item {
  padding: 0 16px;
  font-weight: 500;
  font-size: 18px;
}

.cat-name {
  font-size: 42px;
  line-height: 160%;
  margin-top: 160px;
  width: 100%;
}

.cat-main {
  display: flex;
  flex-flow: row wrap;
  margin-left: 10%;
  width: 80%;
  justify-content: space-between;
}

.all-categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  height: 100%;
}

.cat-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 16px;
}

#logo {
  position: absolute;
  height: 41px;
  top: calc(50% - 41px/2 + 4.5px);
}

#cart {
  height: 20px;

}

.brand-icon {
  display: flex;
  justify-content: center;
  flex: 1;
}

.product-img {
  height: 330px;
  width: 354px;
  object-fit: contain;
}

.product-card {
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 80px;
  position: relative;
}

.product-card:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19)
}

.product-card:hover .cart-btn {
  display: block;
}

.product-name {
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  margin: 0;
  padding: 5px 16px;
  width: 100%;
}

.product-price {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  padding: 0 16px 16px;
  margin: 0;
  width: 100%;
}

.out-of-stock {
 font-size: 24px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.img-box {
  position: relative;
  padding: 16px;
}

.grayed, .out-of-stock {
  color: #8D8F9A;
}

.grayed-bg {
  background: #8D8F9A;
}

.green-bg {
  background: #5ECE7B;
}

.img-grayed {
  opacity: 0.5;
}

.cart-btn {
  border-radius: 50%;
  position: absolute;
  width: 52px;
  height: 52px;
  right: 15px;
  bottom: 80px;
  display: none;
}

.add-to-cart {
  position: absolute;
  top: 50%;
  left: 51%;
  width: 24px;
  transform: translate(-50%, -50%);
}