body {
  background: #FFFFFF;
}

h1, p {
  color: #1D1F22;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.header {
  position: absolute;
    width: 80%;
    height: 80px;
    margin: 0 10%;
    justify-content: space-between;
    display: flex;
}

.category {
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

  flex-direction: row;
  padding: 0px;
  height: 100%;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;

}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.action-item {
  padding: 0 16px;
}

.cat-name {
  font-size: 42px;
  line-height: 160%;
  margin-left: 10%;
  margin-top: 160px;
}

.cat-main {
  display: flex;
}

.all-categories {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  height: 100%;
}

.cat-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 16px;
}

#logo {
  position: absolute;
  height: 41px;
  top: calc(50% - 41px/2 + 4.5px);
}

#cart {
  height: 20px;

}

.brand-icon {
  display: flex;
  justify-content: center;
  flex: 1;
}