body {
  background: #FFFFFF;
}

h1, p {
  color: #1D1F22;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.header {
  position: absolute;
  width: 80%;
  height: 80px;
  padding: 0 10%;
  background: white;
  z-index: 20;
  justify-content: space-between;
  display: flex;
}

.category {
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;

  flex-direction: row;
  padding: 0px;
  height: 100%;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;

}

.actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
}

.action-item {
  padding: 0 16px;
  font-weight: 500;
  font-size: 18px;
}

.cat-name {
  font-size: 42px;
  line-height: 160%;
  margin-top: 160px;
  width: 100%;
  text-transform: uppercase;
}

.cat-main {
  display: flex;
  flex-flow: row wrap;
  margin-left: 10%;
  width: 80%;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  height: 100%;
}

.cat-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 16px;
}

#logo {
  position: absolute;
  height: 41px;
  top: calc(50% - 41px/2 + 4.5px);
}

#cart {
  height: 20px;

}

.brand-icon {
  display: flex;
  justify-content: center;
  flex: 1;
}

.product-img {
  height: 330px;
  width: 354px;
  object-fit: contain;
}

.product-card {
  justify-content: space-between;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 80px;
  position: relative;
}

.product-card:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19)
}

.product-card:hover .cart-btn {
  display: block;
}

.product-name {
  font-weight: 300;
  font-size: 18px;
  line-height: 160%;
  margin: 0;
  padding: 5px 16px;
  width: 100%;
}

.product-price {
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  padding: 0 16px 16px;
  margin: 0;
  width: 100%;
}

.out-of-stock {
 font-size: 24px;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}

.img-box {
  position: relative;
  padding: 16px;
}

.grayed, .out-of-stock {
  color: #8D8F9A;
}

.grayed-bg {
  background: #8D8F9A;
}

.green-bg {
  background: #5ECE7B;
}

.img-grayed {
  opacity: 0.5;
}

.cart-btn {
  border-radius: 50%;
  position: absolute;
  width: 52px;
  height: 52px;
  right: 15px;
  bottom: 80px;
  display: none;
}

.add-to-cart {
  position: absolute;
  top: 50%;
  left: 51%;
  width: 24px;
  transform: translate(-50%, -50%);
}

.img-small {
  height: 80px;
  width: 80px;
  object-fit: contain;
  margin-bottom: 40px;
}

.product-gallery {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}

.product-page{
  display: flex;
  margin-left: 10%;
  width: 80%;
  padding-top: 160px;
  justify-content: space-evenly;
}

.product-current-img {
  height: 610px;
  width: 510px;
  object-fit: contain;
}

.product-info {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  max-width: 33%;
}

.brand-name {
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  margin: 0%;
}

.product-page-name {
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
  margin-top: 16px;
  margin-bottom: 19px;
}

.attr-name {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  width: 100%;
  text-transform: uppercase;
  margin: 24px 0 8px;
}

.attr-value {
  justify-content: center;
  align-items: center; 
  font-family: 'Source Sans Pro';
  font-style: normal;
  line-height: 18px;
  width: 63px;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid #1D1F22;
  display: flex;
  margin: 0 6px 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.attr-flex-box {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.product-price-tag {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  margin: 36px 0 0;
  text-transform: uppercase;
}

.product-page-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  padding: 0;
  margin-top: 10px;
}

button {
  width: 100%;
  background: #5ECE7B;
  border: none;
  align-items: center;
  padding: 16px 32px;
  color: white;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  margin-top: 28px;
}

.attr-color {
  display: block;
  width: 36px;
  height: 36px;
  margin-right: 8px;
  box-sizing: border-box;
  box-shadow: 0 0 0 2px white inset;
}

.attr-color-white {
  display: block;
  width: 31px;
  height: 32px;
  margin-right: 8px;
  margin-top: 2px;
  box-sizing: border-box;
  border: 1px solid black;
}

input[type=radio]{
  display: none
}

input[type=radio]:checked + .attr-value {
  background-color: black;
  color: white;
}

input[type=radio]:checked + .attr-color {
  border: 1px solid #5ECE7B;
  width: 37px;
  height: 37px;
}

input[type=radio]:checked + .attr-color-white {
  border: 1px solid #5ECE7B;
  box-shadow: 0 0 0 2px white inset;
  margin-right: 3px;
  margin-top: 0;
  width: 37px;
  height: 37px;
}

.chosen-cat-label {
  font-weight: 600;
  color: #5ECE7B;
} 

.chosen-cat-div {
  border-bottom: 1px solid #5ECE7B;
}

.product-cart-price {
  margin: 1px 0 -4px;
}

.cart-product {
  border-top: 1px solid #E5E5E5;
  padding-top: 24px;
  margin-top: 32px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.cart-qty {
  font-size: 24px;
  font-weight: 500;
}

.cart-img {
  width: 200px;
  height: 288px;
  object-fit: contain;
  position: relative;
  margin-left: 24px;
}

.qty-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 288px;
}

.qty-button {
  width: 45px;
  height: 45px;
}

.flex {
  display: flex;
  position: relative;
}

.img-button{
  width: 24px;
  height: 24px;
}

.arrow-right {
  position: absolute;
  right: 16px;
  bottom: 16px;
}

.arrow-left {
  position: absolute;
  right: 48px;
  bottom: 16px;
}

.cart-all {
  margin-left: 10%;
  width: 80%;
}

.cart-summary {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  width: 279px;
  margin-bottom: 280px;
}

.sum-value {
  font-weight: 700;
  font-size: 24px;
}

.sum-label {
  font-weight: 500;
  font-size: 24px;
}

hr {
  border-color: #E5E5E5;
  size: 1px;
  border-top: #E5E5E5;
  margin-top: 24px;
}

.space-at-end {
  margin-bottom: 190px;
}

.currency-label {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  margin-left: 20px;
}

.currency-box {
  position: absolute;
  top: 65px;
  width: 114px;
  box-shadow: 0px 4px 35px rgb(168 172 176 / 19%);
  padding: 10px 0;
}

.currency-button {
  padding: 10px 0;
  background: #FFFFFF;
}

.currency-checked {
  background: #EEEEEE;
}

.currency-vector {
  margin-left: -6px;
}

.mini-cart-img {
  width: 121px;
  height: 190px;
  object-fit: contain;
}

.mini-cart-qty {
  height: 190px;
  margin-right: 8px;
}

.mini-cart-box{
  top: 78px;
  position: absolute;
  background: #FFFFFF;
  z-index: 99;
  padding: 32px 16px;
  width: 325px;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.mini-cart-attr, .mini-qty-button {
  height: 24px;
  font-size: 16px;
}

.mini-qty-button {
  width: 24px;
}

.mini-cart-attr {
 width: 32px;
 font-size: 14px;
}

.mini-cart-product{
  justify-content: space-between;
  margin-bottom: 40px;
}

.mini-attr-color {
  display: block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  box-sizing: border-box;
  box-shadow: 0 0 0 2px white inset;
}

.mini-attr-white {
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 8px;
  margin-top: 2px;
  box-sizing: border-box;
  border: 1px solid black;
}

input[type=radio]:checked + .mini-attr-color {
  border: 1px solid #5ECE7B;
  width: 20px;
  height: 20px;
}

input[type=radio]:checked + .mini-attr-white {
  border: 1px solid #5ECE7B;
  box-shadow: 0 0 0 2px white inset;
  margin-right: 3px;
  margin-top: 0;
  width: 20px;
  height: 20px;
}

.mini-cart-header{
  font-weight: 500;
}

.mini-cart-bold{
  font-weight: 700;
  margin-bottom: 32px;
}

.align-center {
  align-items: center;
}

.mini-cart-btn {
  width: 140px;
  height: 43px;
  padding: 0;
  font-size: 14px;
}

.mini-btn-white {
  background: #FFFFFF;
  color: #1D1F22;
  border: 1px solid #1D1F22;
  margin-right: 12px;
}

.mini-summary {
 justify-content: space-between; 
}

.mini-buttons {
  justify-content: center;
}

.mini-cart-total {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.mini-cart-sum {
  font-weight: 700;
  line-height: 160%;
}

.mini-cart-name {
  font-weight: 300;
}

.mini-cart-price {
  font-weight: 500;
}

.dim-overlay {
  width: 100%;
  height: 100%;
  z-index: 10;
  opacity: 0.5;
  position: fixed;
  background: black;
  left: 0px;
}

.cart-num {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: white;
  position: absolute;
  top: -13%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.cart-items {
  position: absolute;
  background: black;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  top: 10px;
  right: 10%;
  transform: translate(-5px, 10px);
}